<footer class="post-info">
    {% if article.author %}
    <address class="vcard author">
        por <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
    </address>
    {% endif %}

    en la categoría <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>

    el {{ article.date.strftime('%d/%m/%Y') }}

    {% if article.tags %}
        |
        Etiquetas: {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% endfor %}
    {% endif %}

    {% if PDF_PROCESSOR %}
        |
        <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">pdf</a>
    {% endif %}

    {% if DISQUS_SITENAME %}
        |
        <a href="{{ SITEURL }}/{{ article.url }}#disqus_thread">comentarios</a>
    {% endif %}

    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(article) }}
</footer><!-- /.post-info -->
